{% extends 'cto/ctobase.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
<link rel="stylesheet" href="/static/dreamlms/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    ol.breadcrumb li+li:before {
      content: '\f061';
    display: inline-block;
    font-family: 'fontAwesome';
    padding: 0 10px;
    }
    </style>
</head>

<body>
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li><a href="../../../../cto/cto-dashboard">Dashboard</a></li>
        <li><a href="../../../../cto/cto-add-courseset">Add Course Set</a></li>
      <li><a href="../../../../cto/cto-upload-courseset-details-csv">Upload Course Set CSV</a></li>
      <li><a href="../../../../cto/cto-view-courseset">View Course Set</a></li>
        <li aria-current="page">Update Course Set</li>
      </ol>
    </nav>
    <h2 style="text-align:center; color:blue;">Update Course Set</h2>
    <form method="POST" id="coursesetForm" data-modules-url="{% url 'ajax_load_modules' %}" autocomplete="off"
      style="margin:100px;margin-top: 0px;">
      {%csrf_token%}
      <div class="form-group">
        <div class="container">
          <input type="hidden" name="myvalue" id="myvalue">
          <label for="courseset_name">Course Set Name</label>
          {% render_field coursesetForm.courseset_name class="form-control" placeholder="courseset Name" value=coursesetname %}
          <BR><BR>
          <div class="row">
            <div class="col-md-3 col-xl-3">
              <label for="subject_name">Subject Name</label>
              {% render_field coursesetForm.subject class="form-control"%}
            </div>
            <div class="col-md-3 col-xl-3">
              <label for="module_name">Module Name</label>
              {% render_field coursesetForm.module class="form-control"%}
            </div>
            <div class="col-md-3 col-xl-3">
              <label for="chapter_name">Chapter Name</label>
              {% render_field coursesetForm.chapter class="form-control"%}
            </div>
            <div class="col-md-3 col-xl-3">
              <label for="topic_name">Topic Name</label>
              {% render_field coursesetForm.topic class="form-control"%}
            </div>
          </div>


          <div class="row">
            <div class="col-md-3 col-xl-3">
            </div>
            <div class="col-md-3 col-xl-3">
            </div>
            <div class="col-md-3 col-xl-3">
            </div>
            <div class="col-md-3 col-xl-3">
              <br>
              <input type="button" id="btnAddProduct" onclick="addProduct();" value="Add Details">

            </div>
          </div>
          <p id="demo"></p>
          <div class="col-md-3 col-xl-3">
            <button class="btn btn-primary form-control" type="submit"
              onclick="return generateJSON(event);">SUBMIT</button>

          </div>
        </div>
      </div>
      <div id="waiting" style="display:none">
        <img src="/static/image/processing-gif-image-5.gif">
      </div>
  </div>
  </form>

  <script>
    var products = [];
    debugger;
    var mylist = {{ coursesets| safe}}; // Be aware that there are no quotes or double quotes. 
    var html = "<table id='tblData' border='1|1' >";
    html += "<td>ID</td>";
    html += "<td>Subject</td>";
    html += "<td>Module</td>";
    html += "<td>Chapter</td>";
    html += "<td>Topic</td>";
    html += "<td>Action</td>";
    var counter = 0;
    for (s of mylist) {
      counter = counter + 1;
      var newProduct = {
        id: counter,
        subject: s.subject_name,
        module: s.module_name,
        chapter: s.chapter_name,
        topic: s.topic_name,

      };
      products.push(newProduct);
      html += "<tr>";
      html += "<td>" + counter + "</td>";
      html += "<td>" + s.subject_name + "</td>";
      html += "<td>" + s.module_name + "</td>";
      html += "<td>" + s.chapter_name + "</td>";
      html += "<td>" + s.topic_name + "</td>";
      html += "<td><button type='submit' onClick='deleteProduct(\"" + counter + "\", this);'/>Delete Item</button></td>";
      html += "</tr>";
    }

    html += "</table>";
    document.getElementById("demo").innerHTML = html;
  </script>
  <br>
  <script>
    debugger;
    window.onload = myfunction();
    function myfunction() {
      $("select").removeAttr("required");
    }

    var jsonData = [];

    function generateJSON(e) {
      $('#waiting').show();
      //Store HTML Table Values into Multidimensional Javascript Array Object
      var TableData = new Array();
      $('#tblData tr').each(function (row, tr) {
        TableData[row] = {
          "subject": $(tr).find('td:eq(1)').text(),
          "module": $(tr).find('td:eq(2)').text(),
          "chapter": $(tr).find('td:eq(3)').text(),
          "topic": $(tr).find('td:eq(4)').text()
        }//tableData[row]
      });
      TableData.shift(); // first row will be empty - so remove
      if (TableData == false) {
        alert("Please Add Course Set Details");
        e.preventDefault();
        return false;
      }
      JsonObject = JSON.parse(JSON.stringify(TableData));
      const jsonString = JSON.stringify(Object.assign({}, TableData))
      const json_obj = JSON.parse(jsonString);
      var textbox3 = document.getElementById('myvalue');
      textbox3.value = jsonString;
      return true;
    }

    function addProduct() {
      var subject = document.getElementById("id_subject");
      var subject_name = subject.options[subject.selectedIndex].innerHTML;
      var subject_id = document.getElementById("id_subject").value;

      var module = document.getElementById("id_module");
      var module_name = module.options[module.selectedIndex].innerHTML;
      var module_id = document.getElementById("id_module").value;

      var chapter = document.getElementById("id_chapter");
      var chapter_name = chapter.options[chapter.selectedIndex].innerHTML;
      var chapter_id = document.getElementById("id_chapter").value;

      var topic = document.getElementById("id_topic");
      var topic_name = topic.options[topic.selectedIndex].innerHTML;
      var topic_id = document.getElementById("id_topic").value;


      var newProduct = {
        id: null,
        subject: null,
        module: null,
        chapter: null,
        topic: null,
      };
      debugger;
      newProduct.id = products.length + 1;
      newProduct.subject = subject_id + '-' + subject_name;
      newProduct.module = module_id + '-' + module_name;
      newProduct.chapter = chapter_id + '-' + chapter_name;
      newProduct.topic = topic_id + '-' + topic_name;

      if (products.findIndex(f => f.subject === newProduct.subject) === -1 && products.findIndex(f => f.module === newProduct.module) === -1
        && products.findIndex(f => f.chapter === newProduct.chapter) === -1
        && products.findIndex(f => f.topic === newProduct.topic) === -1) {
        console.log('not contain')
      } else {
        alert('Subject and its contents already selected\nPlease select diffrent contents.')
        return
      }


      if (subject_id <= 0) {
        alert('Please Select Subject')
        return
      }
      if (module_id <= 0) {
        alert('Please Select Module')
        return
      }
      if (chapter_id <= 0) {
        alert('Please Select Chapter')
        return
      }
      if (topic_id <= 0) {
        alert('Please Select Topic')
        return
      }
      products.push(newProduct);
      var html = "<table id='tblData' border='1|1' >";
      html += "<td>ID</td>";
      html += "<td>Subject</td>";
      html += "<td>Module</td>";
      html += "<td>Chapter</td>";
      html += "<td>Topic</td>";
      html += "<td>Action</td>";
      for (var i = 0; i < products.length; i++) {
        html += "<tr>";
        html += "<td>" + products[i].id + "</td>";
        html += "<td>" + products[i].subject + "</td>";
        html += "<td>" + products[i].module + "</td>";
        html += "<td>" + products[i].chapter + "</td>";
        html += "<td>" + products[i].topic + "</td>";
        html += "<td><button type='submit' onClick='deleteProduct(\"" + products[i].id + "\", this);'/>Delete Item</button></td>";
        html += "</tr>";
      }
      html += "</table>";
      document.getElementById("demo").innerHTML = html;
    }
    function deleteProduct(product_id, e) {
      debugger;
      e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
      for (var i = 0; i < products.length; i++) {
        if (products[i].id == product_id) {
          // DO NOT CHANGE THE 1 HERE
          products.splice(i, 1);
        }
      }
    }

    function removeItem(product_id) {
      for (var i = 0; i < products.length; i++) {
        if (products[i].product_id == product_id) {
          // DO NOT CHANGE THE 1 HERE
          products.splice(i, 1);
        }
      }
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_subject").change(function () {
      var url = $("#coursesetForm").attr("data-modules-url");  // get the url of the `load_topics` view
      var subjectId = $(this).val();  // get the selected subject ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_modules' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-topics/)
        data: {
          'subject': subjectId       // add the subject id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_topics` view function
          $("#id_module").html(data);  // replace the contents of the topic input with the data that came from the server
        }
      });

    });
    // this one is for fetching vanue data
    $("#id_module").change(function () { //django-model-form created this id
      var url = $("#coursesetForm").attr("data-modules-url");  // get the url of the `load_topics` view
      var moduleId = $(this).val();  // get the selected subject ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_chapters' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-topics/) courseset_form.html template has this url var
        data: {
          'module': moduleId       // add the subject id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_topics` view function
          $("#id_chapter").html(data);  // replace the contents of the topic input with the data that came from the server
        }
      });

    });

    $("#id_chapter").change(function () { //django-model-form created this id
      var url = $("#coursesetForm").attr("data-chapters-url");  // get the url of the `load_topics` view
      var chapterId = $(this).val();  // get the selected subject ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: '{% url 'ajax_load_topics' %}',                    // set the url of the request (= localhost:8000/hr/ajax/load-topics/) courseset_form.html template has this url var
        data: {
          'chapter': chapterId       // add the subject id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_topics` view function
          $("#id_topic").html(data);  // replace the contents of the topic input with the data that came from the server
        }
      });

    });

  </script>
  {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  {% endif %}
  <br><br><br>
  {% endblock content %}