<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    
    </head>

    <body>
        <div class="container1">
            <p class="headline">L&T</p>
            <nav>
                <a href="{{ url_for('homepage') }}" class="navigation-tabs">Home</a>
            <!-- <a href="{{ url_for('register') }}"  class="navigation-tabs">Register</a> -->
            <a href="{{ url_for('login') }}"  class="navigation-tabs">Login</a> <!-- index to login  -->
            <a href="{{ url_for('about_page') }}"  class="navigation-tabs">About</a>
            </nav>
        </div>
        <div class="container">

            <p><b>Login</b></p> 
            
           <form method='POST', class="form-container", action="/send_otp">
                <select id="user_type" name="user_type">
                    <option value="learner">Learner</option>
                    <option value="trainer">Trainer</option>
                </select>
                <input type="email" id="email" name="email"  placeholder="Enter your email">
                <button id="otp-button">SEND OTP</button>
    
            </form>

        </div>
        <div class="footer">
            &copy; 2024 Incedo Inc | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
        </div>
 </body>
</html>