{% extends 'lxpapp/adminbase.html' %}
{% block content %}
{%load static%}

<link rel="stylesheet" href="/static/dreamlms/css/style.css">
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Log In Time</th>
          <th>Log Out Time</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        {% for t in users %}
        <tr>
          {% if t.user.first_name == "" %}
          <td> {{t.user.username}}</td>
          {% else %}
          <td> {{t.user.first_name}}  {{t.user.last_name}} </td>
          {% endif %}
          <td> {{t.login}}</td>
          <td> {{t.logout}}</td>
          <td> {{t.dur}}</td>
          
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
        {% endblock content %}