{% extends 'trainer/trainerbase.html' %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="/static/dreamlms/css/style.css">

<body>
  <div>
  <ol class="breadcrumb text-right">
    <li><a href="../trainer-dashboard">Dashboard</a></li>
    <li><a href="../trainer-view-shortquestion">View Short Questions</a></li>
    <li class="active">Update Short Question</li>
  </ol>
</div>
<br><br>
<h3 style="text-align:center;">Update Short Question</h3>
<div>
  <form method="post" autocomplete="off" enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
      {% csrf_token %}
        <label for="question">Short Question</label>
          {% render_field shortquestionForm.question class="form-control" value=ex %}
          <br>
        <label for="exam_name">Exam Name</label>
          {% render_field shortquestionForm.examID class="form-control"%}
        <br>
        <label for="marks">Marks</label>
          {% render_field shortquestionForm.marks class="form-control"%}
<br><br>
    <input type="submit" value="Update">
  </form>
</div>
{% endblock content %}
