
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #80BCBD; */
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to bottom right, #6C22A6, #83C0C1 );
    
}
#otp-button{

   margin-top: 3vh;
   /* width: 60%; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    /* background-color: #F9F7C9; */
    padding: 4px 40px 4px 40px;
    padding-top: 4px;
    /* border-radius: 8px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 24vw;
    text-align: center;
    margin-left: 34vw;
    margin-top: 9vh;
}
.form-container{
  
    margin-bottom: 2rem;
    padding-top: 1rem;
}


#user_type, #role {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ffffffd5;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    font-size: 16px;
    box-sizing: border-box;
    color: #555;
}
p   {
    color: azure;
    font-size: 2rem;
    align-items: center;
}

#emailname, #otpname, #name, #phone, #email {
    width: 100%;
    padding: 10px;
    background-color: #ffffffd5;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    font-size: 16px;
    box-sizing: border-box;
    color: #555;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffffffd5;
    color: rgb(131, 6, 181);
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

button:hover {
    background-color: #6C22A6;
    color: white;
}

select:focus, input:focus {
    outline: none;
    border-color: #2196F3;
}

.container1{
        display: flex;
        justify-content: space-between;
        backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    /* background-color: white; */
        /* background-color: #6C22A6; */
        color: white;
        padding: 10px;
        text-align: center;
        margin-top: 0px;
        padding-bottom: 0px;
}

nav {
    color: white;
    padding: 1rem;
    text-align: center;
}

.navigation-tabs{
    padding: 1rem;
    transition: background;
    transition-duration: 0.2s;
}
.navigation-tabs:hover{
    background: rgba(255, 255, 255, 0.484);
}

.footer{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    /* background-color: white; */
        /* background-color: #6C22A6; */
        color: white;
        padding: 13px;
        text-align: center;
        margin-bottom: 0;
        position: fixed;
        bottom: 0;
        width: 100vw;    
}

a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.headline{
    padding-top: 0.3rem;
    padding-left: 1rem;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
    font-weight: 500;
    font-family: fantasy;

}