
body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: #80BCBD; */
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    background-image: linear-gradient(to bottom right, #6C22A6, #83C0C1 );
}

#otp-button{
    /* border-radius: 8px; */
}

.container {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    /* background-color: #F9F7C9; */
    padding: 40px;
    padding-top: 4px;
    /* border-radius: 8px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    
}
.form-container{
  
    margin-bottom: 2rem;
    padding-top: 1rem;
}


#userType {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #ffffffd5;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    font-size: 16px;
    box-sizing: border-box;
    color: #555;
}
p   {
    color: azure;
    font-size: 2rem;
    align-items: center;
}
#email, #otpname {
    width: 100%;
    padding: 10px;
    background-color: #ffffffd5;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    font-size: 16px;
    box-sizing: border-box;
    color: #555;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffffffd5;
    color: rgb(131, 6, 181);
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

button:hover {
    background-color: #6C22A6;
    color: white;
}

select:focus, input:focus {
    outline: none;
    border-color: #2196F3;
}

.Footer{
    color: azure;
    position: fixed;
    bottom: 0;
    padding-bottom: 2.7rem;
    width: 100%;
    text-align: center;
}


