<div class="main-wrapper">
    <header class="header header-page">
        <div class="header-fixed">
            <nav class="navbar navbar-expand-lg header-nav scroll-sticky" style="height: 102px;">
                <div class="container ">
                    <div class="navbar-header">
                        <a id="mobile_btn" href="javascript:void(0);">
                            <span class="bar-icon">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </a>
                        <a href="index.html" class="navbar-brand logo">
                            <img src="/static/dreamlms/img/logo.png" class="img-fluid" alt="Logo" style="width: 85%;">
                        </a>
                    </div>
                    <div class="main-menu-wrapper">
                        <div class="menu-header">
                            <a href="index.html" class="menu-logo">
                                <img src="/static/dreamlms/img/logo.png" class="img-fluid" alt="Logo"
                                    style="height: 90px; width: 130px;">
                            </a>
                            <a id="menu_close" class="menu-close" href="javascript:void(0);">
                                <i class="fas fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <ul class="nav header-navbar-rht">
                        <li class="nav-item user-nav">
                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                <span class="user-img">
                                    <img src="/static/dreamlms/img/admin-avtar.jpg" alt="">
                                    <span class="status online"></span>
                                </span>
                            </a>
                            <div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
                                <div class="user-header">
                                    <div class="avatar avatar-sm">
                                        <img src="/static/dreamlms/img/admin-avtar.jpg" alt="User Image"
                                            class="avatar-img rounded-circle">
                                    </div>
                                    <div class="user-text">
                                        <h6>{{request.user.first_name}} {{request.user.last_name}}</h6>
                                        <p class="text-muted mb-0">Your Name</p>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="../../../../user-change-password"><i
                                        class="feather-star me-1"></i> Change Password</a>
                                <a class="dropdown-item" href="{% url 'switch-user' %}"><i
                                        class="fas fa-bezier-curve me-1"></i> Switch User</a>
                                <a class="dropdown-item" href="../../../../logout"><i class="feather-log-out me-1"></i>
                                    Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>