{% extends 'learner/learnerbase.html' %}
{% block content %}
{%load static%}

<div class="error-box">
  <h4>You don't have enrolled any courses</h4>
  <h6 class="font-weight-normal">Please visit course section and enroll for courses to continue learning</h6>

  <div class="error-box-img">
    <img src="/static/dreamlms/img/post-2-02.jpg" alt="" class="img-fluid">
  </div>
  <div class="come-soon-box">
    <h5 class="h4 font-weight-normal">The best way is to get enrolled yourself in a course by exploring All courses.
    </h5>
    <h3 class="title"><a href="../../../../../../../../../../../learner/learner-availablecourse-module">Here</a></h3>
  </div>
</div>
{% endblock content %}