{% extends 'cto/ctobase.html' %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="/static/dreamlms/css/style.css">
<style>
  ol.breadcrumb li+li:before {
    content: '\f061';
  display: inline-block;
  font-family: 'fontAwesome';
  padding: 0 10px;
  }
  </style>
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li><a href="../../../../cto/cto-dashboard">Dashboard</a></li>
      <li><a href="../../../../cto/cto-add-playlist">Add PlayList</a></li>
      <li aria-current="page">View PlayLists</li>
    </ol>
  </nav>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>PlayList Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for t in playlists %}
        <tr>
          <td> {{t.name}}</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'cto-update-playlist' t.id  %}"><span
                class="	far fa-edit"></span></a></td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'cto-delete-playlist' t.id  %}"
              onclick="return confirm('Are you sure?')"><span class="far fa-trash-alt"></span></a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}