<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Nubeera LXP</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/dreamlms/img/favicon.svg">

    <link rel="stylesheet" href="/static/dreamlms/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/static/dreamlms/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/dreamlms/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/static/dreamlms/plugins/feather/feather.css">

    <link rel="stylesheet" href="/static/dreamlms/css/style.css">
</head>

<body>

    <div class="main-wrapper log-wrap">
        <div class="row">

            <div class="col-md-6 login-bg">
                <div class="owl-carousel login-slide owl-theme">
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/dreamlms/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>NubeeraLXP Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/dreamlms/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>NubeeraLXP Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/dreamlms/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>NubeeraLXP Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 login-wrap-bg">

                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="img-logo">
                            <img src="/static/dreamlms/img/logo.png" class="img-fluid" alt="Logo">
                            <div class="back-home">
                                <a href="indexpage">Back to Home</a>
                            </div>
                        </div>
                        <h1>Change Password</h1>
                        <form onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="form-control-label">Password</label>
                                <div class="pass-group" id="passwordInput">
                                    <input id="passid" name="passid" type="password" class="form-control pass-input"
                                        placeholder="Enter your password">
                                    <span class="toggle-password feather-eye"></span>
                                    <span class="pass-checked"><i class="feather-check"></i></span>
                                </div>
                                <div class="password-strength" id="passwordStrength">
                                    <span id="poor"></span>
                                    <span id="weak"></span>
                                    <span id="strong"></span>
                                    <span id="heavy"></span>
                                </div>
                                <div id="passwordInfo"></div>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Confirm Password</label>
                                <div class="pass-group" id="cpasswordInput">
                                    <input id="cpassid" name="cpassid" type="password" class="form-control pass-input"
                                        placeholder="Confirm your password">
                                    <span class="toggle-password feather-eye"></span>
                                    <span class="pass-checked"><i class="feather-check"></i></span>
                                </div>
                                <div class="password-strength" id="passwordStrength">
                                    <span id="poor"></span>
                                    <span id="weak"></span>
                                    <span id="strong"></span>
                                    <span id="heavy"></span>
                                </div>
                                <div id="cpasswordInfo"></div>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-start" type="submit">Change Password</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script>
        function validateForm() {
            let x = document.forms[0]["passid"].value;
            let passwordInfo = document.getElementById('passwordInfo');
            let cpasswordInfo = document.getElementById('cpasswordInfo');
            if (x == "") {
                passwordInfo.style.color = "red";
                passwordInfo.textContent = "Please Enter Password";
                return false;
            }

            let y = document.forms[0]["cpassid"].value;
            if (y == "") {
                cpasswordInfo.style.color = "red";
                cpasswordInfo.textContent = "Please Enter Confirm Password";
                return false;
            }
            else{
                cpasswordInfo.textContent = ""; 
            }

            if (passwordInfo.textContent != 'Awesome! You have a secure password.') {
                
                return false;
            }
            
            if (x != y) {
                passwordInfo.style.color = "red";
                passwordInfo.textContent = "Password and Confirm Password not matched";
                return false;
            }
            
            $('#waiting').show();
        }
    </script>

    <script src="/static/dreamlms/js/jquery-3.6.0.min.js"></script>

    <script src="/static/dreamlms/js/bootstrap.bundle.min.js"></script>

    <script src="/static/dreamlms/js/owl.carousel.min.js"></script>

    <script src="/static/dreamlms/js/passwordvalidation.js"></script>

    <script src="/static/dreamlms/js/script.js"></script>
</body>


</html>