{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Nubeera LXP</title>

  <link rel="shortcut icon" type="image/x-icon" href="/static/dreamlms/img/favicon.svg">

  <link rel="stylesheet" href="/static/dreamlms/css/bootstrap.min.css">

  <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/fontawesome.min.css">
  <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/all.min.css">

  <link rel="stylesheet" href="/static/dreamlms/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/dreamlms/css/owl.theme.default.min.css">

  <link rel="stylesheet" href="/static/dreamlms/plugins/feather/feather.css">

  <link rel="stylesheet" href="/static/dreamlms/css/style.css">
</head>

<body>

  <div class="error-box">
    <h4>Session Expired</h4>
    <h6 class="font-weight-normal">Your session is expaired due to inactivity</h6>

    <div class="error-box-img">
      <img src="/static/dreamlms/img/session-expired.jpg" alt="" class="img-fluid">
    </div>
    <div class="come-soon-box">
      <h5 class="h4 font-weight-normal">The best way is to get login yourself, please login from
      </h5>
      <h3 class="title"><a href="../../../../../../../../../../../login">Here</a></h3>
    </div>
  </div>

  <script src="/static/dreamlms/js/jquery-3.6.0.min.js"></script>

  <script src="/static/dreamlms/js/bootstrap.bundle.min.js"></script>

  <script src="/static/dreamlms/js/owl.carousel.min.js"></script>

  <script src="/static/dreamlms/js/passwordvalidation.js"></script>

  <script src="/static/dreamlms/js/script.js"></script>