<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Nubeera LXP</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/dreamlms/img/favicon.svg">

    <link rel="stylesheet" href="/static/dreamlms/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/static/dreamlms/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/dreamlms/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/static/dreamlms/plugins/feather/feather.css">

    <link rel="stylesheet" href="/static/dreamlms/css/style.css">
</head>

<body>

    <div class="main-wrapper log-wrap">
        <div class="row">

            <div class="col-md-6 login-bg">
                <div class="owl-carousel login-slide owl-theme">
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/dreamlms/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>NubeeraLXP Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/dreamlms/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>NubeeraLXP Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/dreamlms/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>NubeeraLXP Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 login-wrap-bg">
                  <div class="error-box">
                    <h4>Session Expired</h4>
                    <h6 class="font-weight-normal">Your session is expaired due to inactivity</h6>
                
                    <div class="error-box-img">
                      <img src="/static/dreamlms/img/session-expired.svg" alt="" class="img-fluid">
                    </div>
                    <div class="come-soon-box">
                      <h5 class="h4 font-weight-normal">The best way is to get login yourself, please login from
                      </h5>
                      <h3 class="title"><a href="../../../../../../../../../../../login">Here</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/dreamlms/js/jquery-3.6.0.min.js"></script>

    <script src="/static/dreamlms/js/bootstrap.bundle.min.js"></script>

    <script src="/static/dreamlms/js/owl.carousel.min.js"></script>

    <script src="/static/dreamlms/js/passwordvalidation.js"></script>

    <script src="/static/dreamlms/js/script.js"></script>
</body>


</html>