{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Nubeera LXP</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/dreamlms/img/favicon.svg">

    <link rel="stylesheet" href="/static/dreamlms/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/dreamlms/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/static/dreamlms/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/dreamlms/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/static/dreamlms/plugins/feather/feather.css">

    <link rel="stylesheet" href="/static/dreamlms/css/style.css">
</head>

<body>

    <div class="main-wrapper log-wrap">
        <div class="row">

            <div class="col-md-6 login-bg">
                <div class="owl-carousel login-slide owl-theme">
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/dreamlms/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>NubeeraLXP Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/dreamlms/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>NubeeraLXP Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/dreamlms/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>NubeeraLXP Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 login-wrap-bg">

                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="w-100">
                            <div class="img-logo">
                                <img src="/static/dreamlms/img/logo.png" class="img-fluid" alt="Logo">
                                <div class="back-home">
                                    <a href="indexpage">Back to Home</a>
                                </div>
                            </div>
                            <h1>Sign into Your Account</h1>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="form-control-label">User Name</label>
                                    {% render_field form.username class="form-control" placeholder="Enter your user name" %}
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label">Password</label>
                                    <div class="pass-group">
                                        {% render_field form.password class="form-control" placeholder="Enter your password" %}
                                        <span class="feather-eye toggle-password"></span>
                                    </div>
                                </div>
                                <div class="forgot">
                                    <span><a class="forgot-link" href="forgot-password.html">Forgot Password
                                            ?</a></span>
                                </div>

                                <div class="d-grid">
                                    <button class="btn btn-primary btn-start" type="submit">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="google-bg text-center">
                        <span><a href="#">Or sign in with</a></span>
                        <div class="sign-google">
                            <ul>
                                <li><a href="{% url 'social:begin' 'google-oauth2' %}"><img
                                            src="/static/dreamlms/img/net-icon-01.png" class="img-fluid" alt="Logo"> Sign
                                        In using Google</a></li>
                            </ul>
                        </div>
                        <p class="mb-0">New User ? <a href="register">Create an Account</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="/static/dreamlms/js/jquery-3.6.0.min.js"></script>

    <script src="/static/dreamlms/js/bootstrap.bundle.min.js"></script>

    <script src="/static/dreamlms/js/owl.carousel.min.js"></script>

    <script src="/static/dreamlms/js/script.js"></script>
</body>

</html>