/* style.css */

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Background color for the entire page */
}

h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 24px; /* Increase font size for the header */
}

.centered-table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%; /* Adjust the width as needed */
}

.centered-table th, .centered-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.centered-table th {
    background-color: #007bff;
    color: white;
}

.centered-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.centered-table tr:hover {
    background-color: #ddd;
}

.centered-table td {
    font-size: 16px;
    color: #555;
}

.centered-table p {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
