{% extends 'trainer/trainerbase.html' %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="/static/dreamlms/css/style.css">
<div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../../../trainer/trainer-dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="../../../../trainer/trainer-view-exam">View Exam</a></li>
      <li class="breadcrumb-item"><a href="../../../../trainer/trainer-upload-exam-csv">Upload Exam CSV</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{page_title}}</li>
      </ol>
    </nav>
  </div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    {% include "common/form_editing/form_template.html" with messages=messages  form=form%}
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
{% endblock content %}