{% extends 'trainer/trainerbase.html' %}
{% load widget_tweaks %}
{% block content %}
<div>
<link rel="stylesheet" href="/static/dreamlms/css/style.css">
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../../../trainer/trainer-dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pending Exam</li>
    </ol>
  </nav>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Exam Name</th>
          <th>Learner Name</th>
          <th>Exam Date</th>
          <th>Taken Time</th>
          <th>View Details</th>
        </tr>
      </thead>
      <tbody>
          {% for t in pending %}
        <tr>
          <td> {{t.exam.exam_name}}</td>
          <td> {{t.learner.first_name}} {{t.learner.last_name}}</td>
          <td> {{t.datecreate}}</td>
          <td> {{t.timetaken}} Sec</td>
          <td><a class="btn btn-primary btn-xs" href="{% url 'trainer-update-short-question-result' t.id  %}"><span
                class="	far fa-edit"></span></a></td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}