{% extends 'learner/learnerbase.html' %}
{% block content %}
{%load static%}


<script defer="" src="https://katacoda.com/embed.js"></script>
        <iframe id="katacoda-container" src="https://katacoda.com/embed/minikube:1.20/?v=2&amp;embed=true&amp;ui=panel&amp;host=kubernetes.io&amp;url=https%3A%2F%2Fkubernetes.io%2Fdocs%2Ftest%2F%23includes&amp;target=katacoda-environment&amp;nonce=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWJlZCI6dHJ1ZSwiZG9tYWluIjoiaHR0cHM6Ly9rdWJlcm5ldGVzLmlvLyIsImlwIjoiMTA2LjIxMy45Ny4xMDgiLCJpYXQiOjE2NjQ3MjU1MjcsImV4cCI6MTY2NDcyNTU1N30.BFBLXsDY24AGCNXP7QtFBix0JdjQ8XeeQbetgsQazic&amp;port=30000&amp;command=start.sh" frameborder="1" allowtransparency="true" allowfullscreen="true" style="height: 100%; min-height: 300px; width: 100%; border: 0px; background-color: transparent;">
        </iframe>
</div>

{% endblock content %}
<br><br><br>
    {% include "ilmsapp/footer.html" %}