{% load static %}
<link rel="stylesheet" href="/static/dreamlms/css/style.css">
<!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">
{% block content %}

<div>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="../../../../trainer/trainer-dashboard">Dashboard</a></li>
			<li class="breadcrumb-item"><a href="../../../../trainer/trainer-add-material">Add Material</a></li>
			<li class="breadcrumb-item"><a href="../../../../trainer/trainer-view-material">View Material</a></li>
			<li class="breadcrumb-item"><a href="../../../../trainer/trainer-upload-material-details-csv">Upload Material CSV</a></li>
			<li class="breadcrumb-item active" aria-current="page">Material Preview</li>
		</ol>
	</nav>
</div>
  {% for t in details %}
    <div class="panel-heading">
      <h6 class="panel-title"><b>Subject Name   :  {{t.subject}} </b></h6>
      <h6 class="panel-title"><b>Chapter Name   :  {{t.chapter}} </b></h6>
      <h6 class="panel-title"><b>Topic Name     :  {{t.topic}} </b></h6>
      <h6 class="panel-title"><b>Description    :  {{t.description}} </b></h6>
    </div>
    <iframe   width="100%" height="100%" marginheight="0" frameborder="0" scrolling="auto"
    src='https://htmlpreview.github.io/?{{t.urlvalue}}'>
</iframe>

  {% endfor %}
{% endblock content %}
