{% extends 'trainer/trainerbase.html' %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="/static/dreamlms/css/style.css">
<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="../../../../trainer/trainer-dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="../../../../trainer/trainer-add-chapterquestion">Add Chapter Question</a></li>
      <li class="breadcrumb-item"><a href="../../../../trainer/trainer-view-chapterquestion">View Chapter Question</a></li>
      <li class="breadcrumb-item active" aria-current="page">View Chapter Question of <u> {{chapter_name}}</u></li>
    </ol>
  </nav>
</div>
<div class="card-body">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
            <th>Chapter Question</th>
            <th>Option 1</th>
            <th>Option 2</th>
            <th>Option 3</th>
            <th>Option 4</th>
            <th>Answer</th>
            <th>Marks</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for t in chapterquestions %}
        <tr>
          <td> {{t.question}}</td>
          <td> {{t.option1}}</td>
          <td> {{t.option2}}</td>
          <td> {{t.option3}}</td>
          <td> {{t.option4}}</td>
          <td>
            {{t.answer}}
          </td>
          <td> {{t.marks}}</td>
          <td><a class="btn btn-danger btn-xs" href="{% url 'trainer-delete-chapterquestion' t.id  %}"
            onclick="return confirm('Are you sure?')"><span class="far fa-trash-alt"></span></a></td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
